---
import "@fontsource-variable/geist-mono";
import "../styles/global.css";
import Logo from "./logo.svg";
import { SEO } from "astro-seo";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Zoid</title>
    <SEO title="Zoid" description="Building software for humans." />
  </head>
  <body
    class="font-mono bg-neutral-950 antialiased text-neutral-50 flex flex-col justify-center items-center h-dvh"
  >
    <a href="/">
      <div class="flex items-center gap-2 mb-1">
        <Logo class="size-6" />
        <h1 class="font-bold text-2xl">Zoid</h1>
      </div>
    </a>
    <h2 class="mb-6">Building software for humans.</h2>
    <ul class="flex gap-2 mb-6">
      <li>
        <a href="https://repeek.gg" class="hover:underline underline-offset-4"
          >repeek.gg</a
        >
      </li>
      <li>•</li>
      <li>
        <a href="https://meru.so" class="hover:underline underline-offset-4"
          >meru.so</a
        >
      </li>
    </ul>
    <p class="text-neutral-400">
      <a href="mailto:tim@zoid.sh" class="hover:underline underline-offset-4"
        >tim@zoid.sh</a
      >
    </p>
  </body>
</html>
